.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #3333;
    margin: auto;
    width: min(80vw, 100vw);
    height: min(80vh , 100vh);
    background-color: #e8a87c;
    padding-top: min(5vh,15vh);
    font-size: var(--step--2);
  }
  .form-root{
    display: flex;
    margin: min(2rem, 5rem);  
    flex-direction: column;
    height: min(60vh, 80vh);
    width: min(60vw, 80vw);
    overflow: auto;
    font-size: var(--step--2);
    
  }
  .form-row {
    display: flex;
    justify-content: space-between;    
    flex-direction: row;
    font-size: var(--step--2);
    margin-right: min(2rem,4rem);
    flex-wrap: wrap;
  }
  
  .form-label {
    margin-right: min(2rem,4rem);
  }
  
  .form-data {
    margin-bottom: 0.4rem;
  }
  .form-input{
    margin-left:min(1rem, 2rem);
  }
  .button-color{
    background-color: #c38d9e !important;
    border: 1px solid #3333;
  }
  .button-spacing{
    margin-bottom: 50px;
  }
  .button-color:hover{
    background-color: #85dcb8 !important;
  }
  .button-color:active {
    background-color: #c38d9e !important;
  }