:root {
  --step--2: clamp(0.67rem, calc(0.79rem + -0.05vw), 0.78rem);
  --step--1: clamp(0.94rem, calc(0.93rem + 0.03vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.50rem);
  --step-1: clamp(1.35rem, calc(1.27rem + 0.41vw), 2.25rem);
  --step-2: clamp(1.62rem, calc(1.46rem + 0.80vw), 3.38rem);
  --step-3: clamp(1.94rem, calc(1.66rem + 1.42vw), 5.06rem);
  --step-4: clamp(2.33rem, calc(1.85rem + 2.39vw), 7.59rem);
  --step-5: clamp(2.80rem, calc(2.02rem + 3.91vw), 11.39rem);
}

div{
  font-size: var(--step--1);
}

h1{
  font-size: var(--step-3);
}

h2,h3,h4,h5{
  font-size: var(--step-1);
}

body{
  width: 100svw;
  height: 100svh;
  background-color: #41b3a3;
}

.Link-parent{
    display:flex;
    background-color: #85dcb8;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: min(2rem, 10vh);
    margin-left: 10vw;
    width: 80vw;
    padding-left: 1vw;
    padding-right: 1vw;

}

.link-dark{
    background-color: #e8a87c;
    text-decoration: none;
    color: #333333;
    margin-top: min(1rem, 3rem);
    padding: min(1rem, 5rem);
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}



.description{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.mappedData{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 24;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20vw;
    align-content: flex-start;
    height: min(80vh, 100vh);
    width: min(80vw, 100vw);
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
.card {
    border: 1px solid black;
    background-color: #c38d9e !important;
    width: calc(50% - 5%);
    height: 40%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin: 2.5%;
    padding: 2.5%;
    overflow: scroll;
    overflow-y: auto;
}

.card-text {
    height: 60%;
    width: 100%;
    font-size: 16px;
}
.card-button {
    display: block;
    margin: 0 auto;
}


.button-container {
    z-index: 1;
    margin-top: 150px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-container{
    background-color: #85dcb8 !important;
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    display: flex;
    overflow: auto;
    flex-shrink: 100;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333 !important;
  }

.login-card{
  background-color: #c38d9e;
  max-width: 600px;
  max-height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2%;
  overflow: auto;
}


.login-title{
    color:#333333;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: #e8a87c !important;
    border: #85dcb8 !important;
}

.notification {
    border: 1px solid #333333;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e8a87c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    animation: slideIn 0.5s ease-in-out;
  }

.notification-close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
.notification-close:hover {
    color: #85dcb8;
  }
  
.notification-message {
    flex-grow: 1;
    margin-right: 10px;
  }
  
@keyframes slideIn {
    from {
        transform: translateY(-100%);    }
    to {
      transform: translateY(0);
    }
  }

