
.h1{
    padding:5000px;
}

.Link-parent{
    display:flex;
    background-color: #85dcb8;
    justify-content:space-around;
    padding: 10px;
    font-size: large;
}

.link-dark{
    background-color: #e8a87c;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.background-body{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #41b3a3;
}

.description{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.mappedData{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 24;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 100%;
    margin-bottom: 20px;
  }
  
.card {
    border: 1px solid black;
    width: calc(50% - 10px);
    height: 50%;
    margin: 5px;
    padding: 10px;
    overflow: scroll;
}

.card-text {
    height: 300px;
    width: 50%;
    font-size: 16px;
}
.card-button {
    display: block;
    margin: 0 auto;
}


.button-container {
    padding-bottom: 100px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }