
.h1{
    padding:5000px;
}

.Link-parent{
    display:flex;
    background-color: #85dcb8;
    justify-content:space-around;
    padding: 10px;
    font-size: large;
}

.link-dark{
    background-color: #e8a87c;
    text-decoration: none;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.background-body{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #41b3a3;
}

.description{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.mappedData{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 24;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: calc(100vh - 200px);
    width: 80%;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
.card {
    border: 1px solid black;
    width: calc(50% - 5%);
    height: 40%;
    margin: 2.5%;
    padding: 2.5%;
    overflow: scroll;
    overflow-y: auto;
}

.card-text {
    height: 60%;
    width: 100%;
    font-size: 16px;
}
.card-button {
    display: block;
    margin: 0 auto;
}


.button-container {
    z-index: 1;
    margin-top: 150px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-container{
    background-color: #85dcb8 !important;
    max-height: 70%;
    max-width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10%;
    padding-top: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #333333 !important;
  }

.login-card{
    background-color: #41b3a3;
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2%;
    margin: auto;
}

.login-title{
    color:#e8a87c;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: #c38d9e !important;
    border: #85dcb8 !important;
}

.notification {
    border: 1px solid #333333;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e8a87c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    animation: slideIn 0.5s ease-in-out;
  }

.notification-close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
.notification-close:hover {
    color: #85dcb8;
  }
  
.notification-message {
    flex-grow: 1;
    margin-right: 10px;
  }
  
@keyframes slideIn {
    from {
        transform: translateY(-100%);    }
    to {
      transform: translateY(0);
    }
  }

